<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="generator" name="Register generators for compiling target files" schema="schema/generator.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://avroclipse/AvroIDL" 
       class = "avroclipse.avroIDL.AvroIDLPackage"
       genModel = "model/generated/AvroIDL.genmodel" /> 
	
  </extension>



</plugin>
